{% extends 'home.html' %}

{% block content %}
<div class="container">
    <div class="row center">
        <div class="col-md-6 offset-md-3">
            {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="one-hundred-reez" style="background-image:url('{{ img_url }}')">
            <p>
                100 reasons why to cut

                1. The feeling of tightness in my body surfaces
                2. Feels good when it is super hot out
                3. Prove to myself and my peers that I am still the god of the cut
                4. Feel and remember the pain and joy of rejecting, 300 times, temptations of mouth pleasure
                5. In victorious hindsight, View the records of the rejected temptations
                6. Be an example for my family
                7. Be an example for my woman
                8. Be an example for friends and peers
                9. Attract those of the most disciplined blood to me
                10. Create records of myself as 28-38 to keep as memories for my 40s 50s 60s 70s and maybe 80s
                11. Live in the feeling of going to bed at 10PM knowing I have an 800 cal deficit under belt
                12. Wake up in the feeling that in the hours up to 2pm, I will be burning fat
                13. Wake up and eat creatine with my coffee knowing my muscle will be better preserved
                14. Push through weak lifts where I long for my strength, but know that I pushed 95-100 lbs consistently in the weeks before cutting, and will be back there soon
                15. Visit / move to Miami at 10% bf, going to beach with ultimate confidence of body
                16. BECOME MASTER OF RINGS AND SHOULDERS AT 150lb body weight
                17. FEEL EVERY SECOND OF EVERY DAY HOW EASY IT IS TO MOVE 20 LB LESS OF BODY
                18. BE ABLE TO DEADLIFT 2.5x BODYWEIGHT = 375
                19. BE ABLE TO SQUAT 2X bodyweight = 300
                20. BE ABLE TO SPRINT godly
                21. Walk around with infinite ease of light frame!
                22. Have ultra sexy upper body to reveal with confidence at any time
                23. Remember the feeling of not wanting to take clothes off cuz I was not proud of what’s beneath
                24. Be painfully successful and dominant to those around me - COUNT and record each time someone tries to suggest to me that I can eaassseee off and let myself go just a litttlleee bit
                25. Define my face to demand more respect and lizard brain adoration from those around me
                26. Appear taller due to thinness
                27. Give CJ a person to exist in pantheon with, and others I find who walk this rare path
                28. Approach and talk to Abdel about the immaculate cut, how we both did it in different ways, what it was like, why we did it
                29. Take this chance to record my epic progress on a website of my creation, and show it to others
                30. Use the website app I create to track nd guide progress as a demo project to win future jobs
                31. It is 12/26 now.  Even If I literally did 0 work for TA for the next two months and I was fired, but I came out cut, I WOULD HAVE NO REGRETS.  DO NOT MISS A SINGLE DAY, FOR THE JOB IS SECONDARY TO THE BODY HEALTH
                32. Prove to myself that my body health will for the rest of my life take priority over work
                33. Show to my grandma that I am a sexy MF
                34. Go to Bali as a jacked and ripped young guy making $$$
                35. Go back to muscle beach as a ripped guy who is monster at calisthenics and have fun
                36. Be able to do rings and calisthenics most every day of my life, because it may be my highest joy
                37. Be posted by Dusty as example of a long, hard journey of his greatest pupil
                38. Gain momentum of healthy living to carry through rest of life.  If at age 28 I am still living in unhealthy habits, imagine the unhealthiness and pain I will experience OVER THOUSANDS AND THOUSANDS OF DAYS
                39. I want to live with zero regret of wasting my final years of youth.  Live these days and meditate daily on this fact: at ages 40, 50, I will be proud of myself at 28.
                40. Start a path that is continued for the rest of my life- never regretting the way I spent my years- and daily reflecting on this
                41. Experience the joy of over 2 months, improving a tech app project that will get me jobs in future, and that, by working on it, keeps me focused on life change
                42. Make an example of course correcting life without losing the reins.  Then lean on THIS example, not one from college or years ago, in future 
                43. Experience the joy of spending daily maintenance energy to reattain congruence to the initial cause
                44. Be so different in my way of life that I lose friends
                45. Become cool enough that Ryan Anderson once again looks up to me
                46. Be sub 10% bf by proof of 2 fucking modalities of measurement
                47. Be able to claim I maintained <9.9% bf for a full year
                48. Beat Bryan Johnson AT HIS OWN FUCKING GAME
                49. Be sexy and attractive to force Katie to adapt
                50. Put pressure on my mate so that I win a mate who is LIKE ME and shares my goals
                51. Be that guy who lifts crazy weight overhead at small bodyweight 
                52. Attract a mate who is as fit as me- whether it means Katie changes, or I have to attract someone else
                53. Post pics of myself on histogram to build image of myself that draws in more connections
                54. Become and live life as an anomaly- a healthy successful male rejecting the worst parts of society
                55. Use this process to define the parts of the Grid I reject, and the parts that make this path possible
                56. Speak with guru anaerobic and Wim hof about this journey after I have. Completed it and earned the right to ask their guidance for the everlasting next steps
                57. Being able to look forward to communing with mark baker
                58. Being the person who lives his life with Fasting and never binges
                59. Being a person who oscillates in a tight band around 9-10% bf and inspires others
                60. Living a life as a lean person in a new city - use the superpower of the lean face to attract powerful friends
                61. Walking into a room and seeing people recoil from subconcious estimation of a new powerful man appearing
                62. I want to induce spirals of love and joy for my body upon seeing myself in the mirror
                63. Induce myself to workout or use rings just by seeing my sexy reflection
                64. Be in a position to slowly slowly put on muscle in the coming years while maintaining a healthy low weight
                65. MAKE THE CUTPANION WEBSITE A BUSINESS
                66. Wake up in the morning and know that I am living congruently
                67. Wake up in the morning and know that I am maximizing the TINY time given to me to be alive and with other people
                68. Take weird pics of myself and have them be funny cuz I look good, not just weird.  Like Arnold tiger hat motorcycle
                69. I… want to put extreme pressure on my relationship- I have to be the best person I can be, she has to be the best she can be.  Seeing her match me in body progress would make me think she can be lifelong good influence.  Otherwise not.
                70. Be able to get hard when looking at myself
                71. Show up to software interviews with an edge over anyone due to my intelligence + health.  It has an effect
                72. Show up to business meetings of my future with an edge to influence them
                73. Appear taller in life and photos due to face appearance and body proportionality
                74. Have an epic before after pic to show
                75. Show my grandchildren that their grandpappy was a motherfucker
                76. Show Justin bethia that I am the king
                77. Justin shall never call me think again 
                78. Stop having cravings for bullshit food for the rest of my life
                79. BE A PERSON WHO JUST DOESNT EAT DONUTS
                80. BE ABLE TO TURN FOODS DOWN BECAUSE I HAVE TASTED THEM BEFORE
                81. Remember that calories = time.  Not having to cut in the future is literally saving me time to use my concentrated mind
                82. Travel the world doing calisthenics in new places
                83. Be able to acknowledge that I am incapable of preventing myself from giving into a temptation - no shit in my shelves
                84. Develop the cutpanion website for years to come
                85. Be DONE with cutting extremely - then make the GAINPANION.com
                86. View gluttony as sin- unnecessary indulgence even in small portions as sin
                87. Be able to change someones life and get them to get lean
                88. Bring a new perspective to the ideal lifestyle - one to complement what guru mark gives
                89. NOT NEED DRUGS TO STAY OR GET LEAN
                90. Be able to use adder all as super boost in fueled state-not as way to get more from less fuel
                91. At age 40, look sexier than I currently do at 27.9
                92. Be able to show my body fat % by counting the fingers I hold up 
                93. Become alpha king of the gym with extreme strength and great leanness
                94. Be able to deadlift 2.5 times my weight
                95. Be able to do heavy weighted pull-ups
                96. Be able to do weighted muscle ups
                97. Be Abel to do heavy heavy heavy weighted dips again
                98. Make my parents proud
                99. Free up my mind away from diet to focus on new things physically like martial arts
                100. Be able to tell people that I can list 100 unique reasons why I need and want to be lean at any moment of any god damn day
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}